<div class="columns is-multiline tab-content is-active fade">
    {# web #}
    <div class="column is-one-quarter-desktop is-full-mobile is-offset-2-tablet is-offset-one-fifth-desktop">
        <h5 class="title is-5 has-text-primary">{% trans from "home" %}skills_attr.programming.web{% endtrans %}</h5>
        <div class="list">
            <a class="list-item">
                <span class="skill">
                    Vue.js
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..3 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..0 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Bootstrap
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..3 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..0 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Javascript
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..2 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..1 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Typescript
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..2 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..1 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Symfony
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..2 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..1 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    PHP
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..2 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..1 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Bulma
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..2 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..1 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    SCSS
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..1 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..2 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Angular
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..1 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..2 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    webpack
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..1 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..2 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
        </div>
    </div>

    {# other #}
    <div id="programming_other" class="column is-one-quarter-desktop is-one-fifths-tablet is-full-mobile is-offset-1-desktop">
        <h5 class="title is-5 has-text-primary">{% trans from "home" %}skills_attr.programming.overall{% endtrans %}</h5>
        <div class="list">
            <a class="list-item">
                <span class="skill">
                    C++
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..2 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..1 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Java
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..2 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..1 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Android development
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..2 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..1 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Qt
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..1 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..2 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Python
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..1 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..2 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Bash
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..1 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..2 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
            <a class="list-item">
                <span class="skill">
                    Powershell
                </span>
                <span class="score">
                    {% apply spaceless %}
                        {% for i in 0..0 %}<i class="icon-star-full"></i>{% endfor %}
                        {% for i in 0..3 %}<i class="icon-star-empty"></i>{% endfor %}
                    {% endapply %}
                </span>
            </a>
        </div>
    </div>
</div>