<div class="page-padding-top">
  <div id="desktop-title-container" class="container float-md-start">
    <div class="row">
      <h1 class="display-2 font-bold">Get a closer look of myself</h1>
      <p class="text-secondary">Student & developer</p>
    </div>

    <div class="row mt-sm-3 mt-lg-5">
      <ul>
        <li>Highly motivated student</li>
        <li>Accomplished apprenticeship</li>
        <li>Always looking for challenges</li>
      </ul>
    </div>

    <div id="cta-button" class="row mt-lg-1 float-md-end p-0">
      <button class="btn btn-secondary py-2 p-lg-3 px-lg-4" (click)="scrollService.scrollToPage(scrollService.pageNames.ABOUT_ME_PAGE)">Learn about me</button>
    </div>
  </div>

  <div class="d-none d-md-block absolut-container">
    <img src="/assets/images/aboutMe_background.jpeg" alt="">
    <div id="desktop-image-color-container" class="bg-primary"></div>
  </div>
</div>


