<div id="contact" class="part has-background-primary">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <h2 class="title is-1 has-text-centered has-text-white">{% trans from "home" %}contact{% endtrans %}</h2>
            <p class="title is-5 has-text-grey-light has-text-centered">- {% trans from "home" %}contact_attr.subtitle{% endtrans %} -</p>
            <hr class="has-background-grey-light">
        </div>
    </div>

    <div class="columns">
        <div class="column is-offset-one-fifth-fullhd is-offset-one-fifth-tablet is-one-quarter-fullhd is-one-third-tablet">
            <div class="list">
                <div class="list-item">
                    <a class="has-text-white" href="mailto:matthias.feyll@gmail.com">
                        <button class="button has-background-white">
                            <i class="icon-at has-text-primary" style="font-size: 1.4em"></i>
                        </button>

                        matthias.feyll@gmail.com
                    </a>
                </div>
            </div>
        </div>

        <div class="column is-offset-1-fullhd is-one-quarter-fullhd is-one-third-tablet">
            <div class="list">
                <div class="list-item">
                    <a class="has-text-white" href="https://gitlab.com/M-Felly">
                        <button class="button has-background-white">
                            <i class="icon-gitlab has-text-primary"></i>
                        </button>
                        gitlab.com/M-Felly
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column is-offset-one-fifth-fullhd is-offset-one-fifth-tablet is-one-quarter-fullhd is-one-third-tablet">
            <div class="list">
                <div class="list-item">
                    <a class="has-text-white" href="https://www.xing.com/profile/Matthias_Feyll">
                        <button class="button has-background-white">
                            <i class="icon-xing has-text-primary" style="font-size: 1.4em"></i>
                        </button>

                        xing.com/profile/Matthias_Feyll
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column is-offset-one-fifth is-three-fifths has-text-centered">
            <hr class="has-background-grey-light">
            <p class="has-text-light">
                The design is inspired by <a class="has-text-black" href="http://www.pascalvangemert.nl/">Pascal van Gemert</a>
            </p>
            <p class="has-text-light has-text-centered">
                © 2020 - Matthias Feyll
            </p>
        </div>
    </div>
</div>