cat << EOF
   __                  _   _               _                   _
  / _|                | | | |             | |                 | |
 | |_    ___   _   _  | | | |             | |   ___     ___   | | __  _   _   _ __
 |  _|  / _ \ | | | | | | | |             | |  / _ \   / _ \  | |/ / | | | | | '_ \\
 | |   |  __/ | |_| | | | | |             | | | (_) | | (_) | |   <  | |_| | | |_) |
 |_|    \___|  \\__, | |_| |_|             |_|  \___/   \___/  |_|\\_\\  \__,_| | .__/
                __/ |            ______                                       | |
               |___/            |______|                                      |_|
EOF

if [ -f ".env.local" ]; then
    source .env.local
else
    echo -e '\e[31mNo .env.local file found. Please run:\e[39m\ncp .env .env.local\n'
    exit
fi


alias_dir=$(pwd)/.alias
mkdir -p "$alias_dir"
export PATH="$PWD/bin:$alias_dir:$PATH"

# Example: export_alias
export_alias() {
  local name=$1
  shift
  local target="$alias_dir/$name"
  echo "#!/usr/bin/env bash" > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export USER_ID=`id -u`
export GROUP_ID=`id -g`

export_alias php "docker exec --user $USER_ID:$GROUP_ID -it feyll_lookup_php \"\$@\""